ansible==5.5.0
ansible-base==2.10.17
ansible-core==2.12.4
cffi==1.14.6
cryptography==3.3.2
Jinja2==2.11.3
MarkupSafe==2.0.1
packaging==21.3
pycparser==2.20
pyparsing==3.0.7
PyYAML==5.4
resolvelib==0.5.4
six==1.16.0
urllib3==1.26.4
